sentence-transformers
langchain
openai
tenacity
diskcache
faiss-cpu
pydantic<2.0
qdrant-client
redis
nest_asyncio

# testing related
black
isort
pytest
vcrpy
pytest-recording
pytest-mock
pytest-asyncio